.card {
  background-color: #fff;
}

.card-img-top {
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
}

.card-max-width {
  max-width: 1200px;
  width: 100%;
}

.card-img-overlay>.card-title,
.card-img-overlay>.card-text {
  display: flex;
  justify-content: center;
}

.h-50 {
  min-height: 50vh;
}